@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem; }
  img.imagen {
    width: 75% !important; }
  .imgd {
    display: inline-block; }
    .imgd .btnDeleteIMG {
      cursor: pointer; }
      .imgd .btnDeleteIMG i {
        color: #000000;
        font-size: 20px; } }

.imgd {
  display: inline; }
  .imgd .btnDeleteIMG {
    cursor: pointer; }
    .imgd .btnDeleteIMG i {
      color: #000000;
      font-size: 20px; }

/*Modal de Modificacion*/
#AGGPublic .modal-dialog .modal-header, #MODIPublic .modal-dialog .modal-header {
  padding: 0;
  /*Caja De Formulario*/ }
  #AGGPublic .modal-dialog .modal-header .containerForm, #MODIPublic .modal-dialog .modal-header .containerForm {
    width: 100%;
    background-color: #e4e4e4;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    transition: -webkit-transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    -o-transition: transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    transition: transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    transition: transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1), -webkit-transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1); }
    #AGGPublic .modal-dialog .modal-header .containerForm.applied, #MODIPublic .modal-dialog .modal-header .containerForm.applied {
      -webkit-transform: translate(0, -200%);
      -ms-transform: translate(0, -200%);
      transform: translate(0, -200%); }
    #AGGPublic .modal-dialog .modal-header .containerForm .btnCloseModel, #MODIPublic .modal-dialog .modal-header .containerForm .btnCloseModel {
      color: #000000;
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 15px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
      #AGGPublic .modal-dialog .modal-header .containerForm .btnCloseModel i, #MODIPublic .modal-dialog .modal-header .containerForm .btnCloseModel i {
        font-size: 1.5em; }
    #AGGPublic .modal-dialog .modal-header .containerForm .headerForm, #MODIPublic .modal-dialog .modal-header .containerForm .headerForm {
      padding: 1rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: white;
      text-align: center; }
      #AGGPublic .modal-dialog .modal-header .containerForm .headerForm h1, #MODIPublic .modal-dialog .modal-header .containerForm .headerForm h1 {
        color: #024380;
        font-size: 28px;
        font-weight: bolder; }
      #AGGPublic .modal-dialog .modal-header .containerForm .headerForm p, #MODIPublic .modal-dialog .modal-header .containerForm .headerForm p {
        color: #555555; }
    #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer {
      position: relative;
      padding: 2rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center; }
      #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1rem 0;
        text-align: left; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas:first-child, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas:first-child {
          padding-top: 0; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group {
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:first-child, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:first-child {
            padding-right: 1rem; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:last-child, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:last-child {
            padding-left: 1rem; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label {
            width: 100%;
            margin-bottom: 0.5rem;
            display: inline-block;
            position: relative;
            color: #353232;
            font-weight: bold;
            font-size: 14px; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label span, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label span {
              color: #2c3e50; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea {
            border: none;
            background: none;
            background-color: white;
            width: 100%;
            height: auto;
            border-radius: 3px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0.8rem 1rem;
            color: #035db2;
            font-weight: bolder;
            font-size: 16px;
            border: 2px white solid;
            -webkit-transition: border 200ms linear;
            -o-transition: border 200ms linear;
            transition: border 200ms linear; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.error, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.error, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.error, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.error {
              border: 2px #e74c3c solid; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.success, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.success, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.success, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.success {
              border: 2px #228c22 solid; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input:focus, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea:focus, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input:focus, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea:focus {
              outline: none; }
      #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI {
        padding: 1rem 1.5rem;
        background: none;
        border: none;
        border-radius: 30px;
        background-color: #024380;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin: 1rem auto .5rem auto;
        display: inline-block;
        cursor: pointer;
        -webkit-transition: all 400ms linear;
        -o-transition: all 400ms linear;
        transition: all 400ms linear; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI:hover {
          background-color: #01294e; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled {
          cursor: not-allowed;
          background-color: #1f91fc; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled:hover {
            background-color: #1f91fc; }
      #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose {
        background: #7c7b7b; }

/*estilo de la vista de la tabla de administrador de las publicaciones */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed; }

table tr {
  background-color: #fff;
  border: 1px solid #e1e5e9;
  border-radius: 5px; }

table thead tr:first-child {
  border: 1px solid #024380; }

table th {
  padding: 1.625em 0;
  text-align: center;
  color: #494949; }

table th {
  text-transform: uppercase;
  background: #024380;
  color: #FFF; }

table tbody tr td .btn-invoice {
  background: #024380;
  color: #FFF;
  border-radius: 5px;
  z-index: 0; }

tbody tr:nth-child(even) {
  background-color: #fff; }

tbody tr:nth-child(odd) {
  background-color: #fff; }

@media screen and (max-width: 600px) {
  table {
    border: 0; }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    padding: 0; }
  table tr {
    display: block;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-box-shadow: 0 13px 6px -6px  #777;
    box-shadow: 0 13px 6px -6px  #777; }
  table td {
    border-bottom: 1px solid #cfd1d3;
    display: block;
    text-align: right;
    color: #9da9b9;
    color: #024380; }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #4b4949;
    color: #222222; }
  table td:last-child {
    border-bottom: 0; } }

body, html {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 60px 0 30px 0;
  color: black; }
